In [59]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_wine
from sklearn.svm import LinearSVC
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, f1_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA

## Data

In [60]:
wine = load_wine()
X_wine = pd.DataFrame(wine.data, columns=wine.feature_names)
# #make pCA so that PLDA and LDA versions are comparable
# pca = PCA(n_components=3)
# pca.fit(X_wine)
# X=pca.transform(X_wine)

y = pd.Categorical.from_codes(wine.target, wine.target_names)
X=pd.DataFrame(X)
X['class']=y

# LDA version

In [61]:
#class feature means
class_feature_means = pd.DataFrame(columns=wine.target_names)
for c, rows in X.groupby('class'):
    class_feature_means[c] = rows.mean()
class_feature_means

        class_0     class_1     class_2
0     13.744746   12.278732   13.153750
1      2.010678    1.932676    3.333750
2      2.455593    2.244789    2.437083
3     17.037288   20.238028   21.416667
4    106.338983   94.549296   99.312500
5      2.840169    2.258873    1.678750
6      2.982373    2.080845    0.781458
7      0.290000    0.363662    0.447500
8      1.899322    1.630282    1.153542
9      5.528305    3.086620    7.396250
10     1.062034    1.056282    0.682708
11     3.157797    2.785352    1.683542
12  1115.711864  519.507042  629.895833

In [62]:
#class mean
class_means=X.groupby('class').mean()
class_means.shape

(3, 13)

## Within scatter matrix

In [63]:
within_class_scatter_matrix = np.zeros((class_feature_means.shape[0],class_feature_means.shape[0]))

for c, rows in X.groupby('class'):
    rows = rows.drop(['class'], axis=1)
    s = np.zeros((class_feature_means.shape[0],class_feature_means.shape[0]))
    for index, row in rows.iterrows():
            x = row.values.reshape(class_feature_means.shape[0],1)
            mc = class_feature_means[c].values.reshape(class_feature_means.shape[0],1)

            s += (x - mc)@((x - mc).T)

    within_class_scatter_matrix += s

In [71]:
within_class_scatter_matrix[0]

array([ 4.58591821e+01,  1.43027601e+00, -2.32911012e+00, -1.70130181e+01,
        3.13827137e+00,  4.74217613e+00,  3.96054915e+00, -1.70720423e-01,
        2.93497768e+00,  4.31301457e+01,  1.36868361e-01, -8.72438861e-01,
        2.14149506e+03])

## Between class scatter matrix

In [65]:
#feature means
feature_means=X.mean()
feature_means

0      13.000618
1       2.336348
2       2.366517
3      19.494944
4      99.741573
5       2.295112
6       2.029270
7       0.361854
8       1.590899
9       5.058090
10      0.957449
11      2.611685
12    746.893258
dtype: float64

In [66]:
between_class_scatter_matrix = np.zeros((13,13))
for c in class_feature_means:    
    n = len(X.loc[X['class'] == c].index)
    
    mc = class_feature_means[c].values.reshape(13,1)
    m = feature_means.values.reshape(13,1)
    
    between_class_scatter_matrix += n * (mc - m)@((mc - m).T)

In [70]:
between_class_scatter_matrix[0]

array([ 7.07948499e+01,  1.37229257e+01,  1.06684933e+01, -1.31860426e+02,
        5.52620156e+02,  2.12568615e+01,  3.00293312e+01, -2.61778351e+00,
        8.30762344e+00,  1.38875865e+02, -2.49334780e+00,  8.25295347e+00,
        2.69868967e+04])

# PLDA version

In [68]:
X=wine.data
y=wine.target
unique_labels = np.unique(y)
labels = np.asarray(y)

m = X.mean(axis=0)
N = X.shape[0]

cov_ks = []
m_ks = []
n_ks = []

for k in unique_labels:
    bool_idxs = labels == k
    X_k = X[bool_idxs]

    m_ks.append(X_k.mean(axis=0))
    n_ks.append(bool_idxs.sum())

    cov_ks.append(np.cov(X_k.T))

n_ks = np.asarray(n_ks)
m_ks = np.asarray(m_ks)

m_ks_minus_m = m_ks - m
S_b = np.matmul(m_ks_minus_m.T * (n_ks / N), m_ks_minus_m)

S_w = np.asarray(cov_ks) * ((n_ks - 1) / N)[:, None, None]
S_w = np.sum(S_w, axis=0)

In [76]:
S_b[0].round(2)

array([ 4.0000e-01,  8.0000e-02,  6.0000e-02, -7.4000e-01,  3.1000e+00,
        1.2000e-01,  1.7000e-01, -1.0000e-02,  5.0000e-02,  7.8000e-01,
       -1.0000e-02,  5.0000e-02,  1.5161e+02])

In [78]:
between_class_scatter_matrix[0].round(4)

array([ 7.07948000e+01,  1.37229000e+01,  1.06685000e+01, -1.31860400e+02,
        5.52620200e+02,  2.12569000e+01,  3.00293000e+01, -2.61780000e+00,
        8.30760000e+00,  1.38875900e+02, -2.49330000e+00,  8.25300000e+00,
        2.69868967e+04])

In [74]:
S_b[0]-between_class_scatter_matrix[0]

array([-7.03971260e+01, -1.36458306e+01, -1.06085579e+01,  1.31119637e+02,
       -5.49515548e+02, -2.11374409e+01, -2.98606271e+01,  2.60307686e+00,
       -8.26095140e+00, -1.38095663e+02,  2.47934023e+00, -8.20658856e+00,
       -2.68352849e+04])