In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('andmestikkoigirahvastikuregistrisolevatenimedega16.01.2017.xlsx', header=None)

In [3]:
df.head()

                 0
0          A RAOUL
1  AA MICHELL OCOL
2              AAB
3     AAB SVENSSON
4          AABAJÕE

In [4]:
df['lower']=[str(x).lower() for x in df[0].tolist()]

In [5]:
df['len']=df['lower'].str.len()

In [6]:
df['len'].value_counts()

8     60059
7     56338
9     53490
6     47429
10    46292
11    40325
12    31729
5     30164
13    24275
14    16908
15    11808
4     10861
16     8040
17     5774
18     4157
19     3088
20     2167
3      1738
21     1677
22     1273
23      924
24      730
25      500
26      300
27      220
28      161
2       135
29      105
30       77
31       68
32       50
33       43
34       20
35       18
37       13
36       12
1         9
40        8
39        6
38        5
44        2
47        2
48        2
61        1
41        1
42        1
43        1
45        1
50        1
53        1
56        1
57        1
64        1
Name: len, dtype: int64

In [7]:
df.head()

                 0            lower  len
0          A RAOUL          a raoul    7
1  AA MICHELL OCOL  aa michell ocol   15
2              AAB              aab    3
3     AAB SVENSSON     aab svensson   12
4          AABAJÕE          aabajõe    7

In [12]:
strings=["see asi on väga suur ja nimi on tal juhan kasepuu, kes oskab juba palju teha ma tahan saada juhiluba kuid seda pole olemas. miks on maailm suur ja lia"]

In [13]:
def eemaldaja(strings, nimed, asendus):
    res_txt=[]
    for txt in strings:
        res=[]
        pieces=txt.split(" ")
        for piece in pieces:
            if piece in nimed:
                res.append(asendus)
            else:
                res.append(piece)
        res_txt.append(' '.join(res))
    return res_txt

In [14]:
%time eemaldaja(strings, df['lower'].tolist(), "[name]")

CPU times: user 204 ms, sys: 0 ns, total: 204 ms
Wall time: 408 ms

['[name] [name] on väga [name] ja nimi on [name] [name] kasepuu, [name] oskab juba palju [name] [name] tahan saada juhiluba kuid [name] [name] olemas. [name] on maailm [name] ja [name]']